body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}

.container {
  max-width: 1141px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header-logo {
  display: block;
  background-image: url(../images/logo.svg);
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 4px;
}

.header-nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: 27px;
  gap: 55px;
  margin-right: 270px;
}

.header-nav a {
  font-size: 18px;
  color: rgba(43, 53, 65, 1);
  text-decoration: none;
  transition: .3s;
}

.header-nav a:hover {
  color: rgba(24, 31, 39, 1);
}

.header-nav a::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 11px;
  display: block;
  background: transparent;
  transition: .3s;
}

.header-nav a:hover::after {
  background: #2b3541;
}

.social-icons {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.social-icons > li {
  margin-left: 30px;
}

.social-icons > li > a {
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
  text-decoration: none;
}

.social-icons > li > a:hover {
  transform: scale(1.2);
  opacity: 1;
}

.social-icons-instagram {
  background-image: url(../images/icons/in.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.social-icons-facebook {
  background-image: url(../images/icons/fb.svg);
  background-size: cover;
  background-repeat: no-repeat;
}


.bg > .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bg {
  margin-bottom: 160px;
}

.banner {
  flex-basis: 676px;
  padding-top: 195px;
  padding-bottom: 238px;
  position: relative;
}

.banner-title {
  display: flex;
  flex-direction: column-reverse;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.banner-title > span {
  display: block;
  font-size: 40px;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 1.25;
  padding: 42px 0;
  margin-bottom: -53px;
  letter-spacing: 0.03em;
}

.banner-box {
  margin-left: 92px;
  max-width: 297px;
}

.banner-text {
  font-size: 18px;
  color: #2b3541;
  line-height: 1.5;
  margin-bottom: 35px;
}

.banner-link {
  color: #2b3541;
  background-color: #fbf138;
  text-decoration: none;
  padding: 20px 30px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: 0.3s;
}

.visual {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(251, 241, 56, 0.2),
    rgba(253, 249, 182, 0.25) 145.23%
  );
  width: 464px;
  height: 850px;
  right: 2px;
}

.visual-img {
  background-image: url(../images/@1x/bg-girl.png);
  background-image: -webkit-image-set(
    url("../images/@2x/bg-girl-2x.png") 2x,
    url("../images/@1x/bg-girl.png") 1x
  );
  background-image: image-set(
    url("../images/@2x/bg-girl-2x.png") 2x,
    url("../images/@1x/bg-girl.png") 1x
  );
  background-repeat: no-repeat;
  background-size: contain;
  width: 996px;
  height: 810px;
  position: absolute;
  right: -184px;
  bottom: 0;
}

.button-down {
  width: 52px;
  height: 55px;
  background-image: url(../images/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}

.event {
  margin-bottom: 127px;
}

.event-title {
  color: #2b3541;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 40px;
}

.event-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.event-item {
  width: 32%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.event-item::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 70%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.3s;
}

.event-item:hover::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.4) 0%,
    rgba(253, 249, 182, 0) 100%
  );
}

.event-item:nth-child(1) {
  background-image: url(../images/@1x/maraphon.png);
  background-image: -webkit-image-set(
    url("../images/@2x/maraphon@2x.png") 2x,
    url("../images/@1x/maraphon.png") 1x
  );
  background-image: image-set(
    url("../images/@2x/maraphon@2x.png") 2x,
    url("../images/@1x/maraphon.png") 1x
  );
}

.event-item:nth-child(2) {
  background-image: url(../images/@1x/vebinar1.png);
  background-image: -webkit-image-set(
    url("../images/@2x/vebinar1-2x.png") 2x,
    url("../images/@1x/vebinar1.png") 1x
  );
  background-image: image-set(
    url("../images/@2x/vebinar1-2x.png") 2x,
    url("../images/@1x/vebinar1.png") 1x
  );
}

.event-item:nth-child(3) {
  background-image: url(../images/@1x/vebinar2.png);
  background-image: -webkit-image-set(
    url("../images/@2x/vebinar2-2x.png") 2x,
    url("../images/@1x/vebinar2.png") 1x
  );
  background-image: image-set(
    url("../images/@2x/vebinar2-2x.png") 2x,
    url("../images/@1x/vebinar2.png") 1x
  );
}

.event-content {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 30px;
  padding-top: 30px;
}

.event-btn {
  background: rgba(43, 53, 65, 1);
  box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.2);
  color: #fbf138;
  padding: 20px 60px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  position: absolute;
  left: 32px;
  top: 185px;
  opacity: 0;
  align-items: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.event-item:hover .event-btn {
  opacity: 1;
  z-index: 1;
}

.event-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  margin-top: 20px;
  z-index: 1;
}

.event-date {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.event-hashtag {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fbf138;
  padding: 10px 22px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.event-item:nth-child(2) > .event-content {
  max-width: 259px;
}

.schedule {
  margin-bottom: 160px;
}

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 309px 72px 281px;
  gap: 20px;
  grid-template-areas:
    "training sculpt lab"
    "mix sculpt warm-up"
    "mix practices warm-up";
}

.schedule-item:nth-child(1) {
  grid-area: training;
}

.schedule-item:nth-child(2) {
  grid-area: sculpt;
}

.schedule-item:nth-child(3) {
  grid-area: lab;
}

.schedule-item:nth-child(4) {
  grid-area: mix;
}

.schedule-item:nth-child(5) {
  grid-area: practices;
}

.schedule-item:nth-child(6) {
  grid-area: warm-up;
}

.schedule-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}

.schedule-title {
  max-width: 356px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
}

.schedule-date {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.25;
}

.schedule-item {
  border: 1px solid rgba(43, 53, 65, 0.5);
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.schedule-item:hover {
  border: 1px solid transparent;
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.7),
    rgba(253, 249, 182, 0.45) 100%
  );
  box-shadow: 0px 13px 30px 0px rgba(186, 180, 69, 0.2);
}

.schedule-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}

.schedule-time {
  display: block;
  text-align: end;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.schedule-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px 0;
  position: absolute;
  bottom: 0;
}

.subscribe {
  background-color: rgba(243, 243, 243, 1);
  display: flex;
  padding-top: 81px;
  padding-bottom: 82px;
  margin-bottom: 160px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 0 21px;
}

.subscribe-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.22;
  max-width: 622px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.subscribe-title::before {
  content: "";
  width: 53px;
  height: 53px;
  background-color: rgba(251, 241, 56, 1);
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
  border-radius: 24px;
  position: absolute;
  left: -18px;
  bottom: 15px;
  z-index: -1;
}

.subscribe-input {
  box-sizing: border-box;
  width: 372px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 18px;
  margin-bottom: 15px;
  color: rgba(43, 53, 65, 0.3);
}

.subscribe-input::placeholder {
  color: rgba(43, 53, 65, 0.3);
}

.subscribe-input:focus {
  outline: 1px solid #fbf138;
  color: rgba(43, 53, 65, 1);
}

.subscribe-input:valid {
  color: rgba(43, 53, 65, 1);
}

.subscribe-input:invalid {
  outline: 1px solid rgba(174, 3, 3, 1);
  color: rgba(43, 53, 65, 1);
}

.subscribe-btn {
  background-color: #fbf138;
  box-shadow: 0px 13px 24px 0px rgb(251 241 56 / 20%);
  padding: 19px 42px;
  color: rgba(43, 53, 65, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.agreement {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.45;
  color: rgba(43, 53, 65, 0.5);
  text-align: left;
}

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: calc(50% - 10px);
  background-color: #2b3541;
  border: 2px solid #2b3541;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 1;
  left: 2px;
  top: calc(50% - 7px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/icons/checkbox.svg);
}

.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: calc(50% - 10px);
  background-color: transparent;
  border: 2px solid #2b3541;
}

.checkbox:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 0;
  left: 2px;
  top: calc(50% - 7px);
  background-position: 0 -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/icons/check_box_empty.svg);
}

.radio:checked + label::before {
  border-radius: 100%;
}

label > a {
  color: rgba(43, 53, 65, 0.5);
}

label > a:hover {
  color: rgba(43, 53, 65, 1);
}

.about-company {
  margin-bottom: 153px;
}

.about-company-content {
  display: flex;
  justify-content: space-between;
  gap: 0 77px;
}

.about-company-img {
  background-image: url(../images/@1x/trainer.png);
  background-image: -webkit-image-set(
    url("../images/@2x/trainer@2x.png") 2x,
    url("../images/@1x/trainer.png") 1x
  );
  background-image: image-set(
    url("../images/@2x/trainer@2x.png") 2x,
    url("../images/@1x/trainer.png") 1x
  );
  width: 580px;
  height: 336px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.about-company-img::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0.15) 100%
  );
  width: 580px;
  height: 336px;
  position: absolute;
}

.about-company-description {
  flex-basis: 483px;
}

.about-company-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 21px;
}

.about-company-text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 15px;
}

.about-company-btn {
  background-color: rgba(251, 241, 56, 1);
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
  padding: 20px 51px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.advantages-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 82px;
  justify-content: space-between;
  gap: 0 9px;
}

.advantages-items:nth-child(1) {
  width: 231px;
}

.advantages-items:nth-child(2) {
  width: 284px;
}

.advantages-items:nth-child(3) {
  width: 221px;
}

.advantages-items:nth-child(4) {
  width: 204px;
}

.advantages-items-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  margin: 0;
}

.advantages-items-text {
  font-size: 18px;
  line-height: 1.5;
}

.banner-link:hover,
.subscribe-btn:hover,
.about-company-btn:hover {
  background: rgba(43, 53, 65, 1);
  box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.2);
  color: #fbf138;
}

.footer {
  background: rgba(243, 243, 243, 1);
  font-size: 14px;
  line-height: 1.5;
}

.footer-navigation {
  display: flex;
  padding-top: 39px;
  justify-content: space-between;
  margin-bottom: 4px;
}

.footer-logo {
  background-image: url(../images/logo.svg);
  width: 97px;
  height: 30px;
  margin-top: 10px;
}

.footer-box {
  display: flex;
  gap: 0 219px;
}

.footer-nav {
  list-style-type: none;
  display: flex;
  gap: 0 90px;
  padding-left: 0;
}

.footer-nav > li > a {
  text-decoration: none;
  color: rgba(43, 53, 65, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .3s;
}

.footer-nav > li > a:hover {
  color: rgba(24, 31, 39, 1);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  gap: 0 65px;
}

.footer-email {
  text-decoration: none;
  display: block;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(43, 53, 65, 1);
  position: relative;
  z-index: 1;
}

.footer-email::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: rgba(251, 241, 56, 1);
  box-shadow: 0px 13px 24px 0px rgb(251 241 56 / 30%);
  border-radius: 24px;
  position: absolute;
  left: -18px;
  bottom: 25px;
  z-index: -1;
}

.footer-icons {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: 10px;
  gap: 0 30px;
}

.footer-icons > li > a {
  display: block;
  width: 27px;
  height: 27px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
  text-decoration: none;
}

.footer-icons > li > a:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  color: rgba(43, 53, 65, 0.3);
}

.copyright-text > a {
  color: rgba(43, 53, 65, 0.3);
  transition: .3s;
}

.copyright-text > a:hover {
  color: rgba(43, 53, 65, 1);
}

/* Modal */
.burger {
  width: 29px;
  height: 22px;
  background-image: url(../images/icons/burger.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.modal {
  background: rgba(243, 243, 243, 1);
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  padding: 30px 10px 0 10px;
  box-sizing: border-box;
  transition: 0.7s;
  z-index: 2;
}

.modal .header-nav {
  flex-direction: column;
  gap: 20px 0;
  margin: 40px 0 30px;
}

.modal .header-logo {
  width: 78px;
  height: 24px;
}

.modal .header-nav li {
  border-bottom: 1px solid rgba(43, 53, 65, 0.2);
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 6px;
}

.modal .header-nav li:last-child {
  border-bottom: none;
}

.modal .social-icons {
  justify-content: flex-end;
  margin-bottom: 20px;
}

.modal .social-icons > li {
  margin-left: 16px;
  margin-bottom: -10px;
}

.modal .social-icons > li > a {
  width: 26px;
  height: 26px;
}

.burger-close {
  width: 20px;
  height: 19px;
  background-image: url(../images/icons/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 34px;
  right: 5px;
  cursor: pointer;
}

.hidden {
  overflow: hidden;
  padding-right: 17px;
}

.hidden::before {
  content: "";
  display: block;
  background-color: rgba(43, 53, 65, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: 0.2s;
}

/*Responsive*/
@media (min-width: 769px) {
  .header-burger {
    display: none;
  }
}

@media (max-width: 1200px) {
  .banner-title {
    padding-right: 50px;
  }

  .event-item {
    height: 45vw;
  }

  .footer-box {
    gap: 0 10vw;
  }

  .footer-nav {
    gap: 0 7vw;
  }

  .footer-social {
    gap: 0 5vw;
  }
}

@media (max-width: 1100px) {
  .header-nav {
    gap: 30px;
    margin-right: 6vw;
  }

  .banner-title {
    font-size: 40px;
  }

  .bg {
    overflow: hidden;
    margin-bottom: 160px;
  }

  .banner {
    padding-top: 11px;
    padding-bottom: 177px;
    position: relative;
  }

  .visual {
    width: 464px;
    height: 605px;
    right: 2px;
  }

  .visual-img {
    width: 570px;
    height: 510px;
    right: 0;
    bottom: -40px;
  }

  .event-name {
    font-size: 2.5vw;
  }

  .event-date,
  .event-hashtag {
    font-size: 1.9vw;
  }

  .event-btn {
    padding: 2vw 4vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 950px) {
  .visual-img {
    width: 509px;
    height: 485px;
    bottom: -65px;
  }

  .advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px;
  }

  .footer-box {
    gap: 0 7vw;
  }

  .footer-nav {
    gap: 0 7vw;
  }
}

@media (max-width: 900px) {
  .banner-title > span {
    font-size: 26px;
  }

  .banner-text {
    font-size: 16px;
    margin-bottom: 39px;
    margin-top: 30px;
  }

  .banner-box {
    margin-left: 0;
  }

  .button-down {
    width: 39px;
    height: 40px;
  }

  .about-company-content {
    gap: 0 36px;
  }

  .about-company-img {
    width: 373px;
    height: 227px;
  }

  .about-company-img::after {
    width: 373px;
    height: 227px;
  }

  .advantages-list {
    gap: 0 136px;
  }

  .footer-box {
    flex-direction: column;
    gap: 3vw 0;
  }

  .footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 0 33px;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .bg {
    margin-bottom: 104px;
  }

  .header-logo {
    width: 78px;
    height: 24px;
  }

  .header-item {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .header-box {
    display: flex;
    justify-content: space-between;
    gap: 57px;
  }

  .social-icons > li {
    margin-left: 20px;
  }

  .social-icons > li > a {
    width: 26px;
    height: 26px;
  }

  .banner {
    flex-basis: 400px;
    padding-bottom: 83px;
  }

  .banner-title {
    font-size: 26px;
    padding-right: 4vw;
  }

  .visual {
    width: 359px;
    height: 429px;
    right: 0;
  }

  .visual-img {
    width: 51.95vw;
    height: 42.7vw;
    right: 0;
    bottom: 0;
  }

  .event {
    margin-bottom: 73px;
  }

  .event-title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .event-item {
    width: 100%;
    height: 40.2vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .event-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40.3vw 43.75vw;
    gap: 11px 20px;
    grid-template-areas:
      "marafon trener"
      "yoga yoga";
  }

  .event-item:nth-child(1) {
    background-image: url(../images/@1x/maraphon-big.png);
    background-image: -webkit-image-set(
      url("../images/@2x/maraphon2x-big.png") 2x,
      url("../images/@1x/maraphon-big.png") 1x
    );
    background-image: image-set(
      url("../images/@2x/maraphon2x-big.png") 2x,
      url("../images/@1x/maraphon-big.png") 1x
    );
    grid-area: marafon;
  }

  .event-item:nth-child(2) {
    background-image: url(../images/@1x/vebinar1-big.png);
    background-image: -webkit-image-set(
      url("../images/@2x/vebinar1-2xbig.png") 2x,
      url("../images/@1x/vebinar1-big.png") 1x
    );
    background-image: image-set(
      url("../images/@2x/vebinar1-2xbig.png") 2x,
      url("../images/@1x/vebinar1-big.png") 1x
    );
    background-position: left;
    grid-area: trener;
  }

  .event-item:nth-child(3) {
    width: 100%;
    height: 43.75vw;
    background-image: url(../images/@1x/vebinar_2big.png);
    background-image: -webkit-image-set(
      url("../images/@2x/vebinar-2xbig.png") 2x,
      url("../images/@1x/vebinar_2big.png") 1x
    );
    background-image: image-set(
      url("../images/@2x/vebinar-2xbig.png") 2x,
      url("../images/@1x/vebinar_2big.png") 1x
    );
    background-position: top;
    grid-area: yoga;
  }

  .event-content {
    padding-left: 27px;
    padding-top: 17px;
  }

  .event-name {
    font-size: 16px;
    margin-top: 13px;
    max-width: 144px;
  }

  .event-date {
    font-size: 12px;
  }

  .event-hashtag {
    font-size: 12px;
    padding: 6px 16px;
    right: inherit;
  }

  .event-add {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/add.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .event-btn {
    top: 18vw;
  }

  .event-item:nth-child(3) .event-btn {
    top: 18vw;
  }

  .schedule {
    margin-bottom: 87px;
  }

  .schedule-heading {
    margin-bottom: 17px;
  }

  .schedule-title {
    max-width: 210px;
    font-size: 26px;
  }

  .schedule-date {
    font-size: 16px;
  }

  .schedule-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 29.3vw);
    gap: 20px;
    grid-template-areas:
      "training mix"
      "sculpt practices"
      "lab  warm-up";
  }

  .schedule-item {
    padding: 22px 23px;
  }

  .schedule-content {
    gap: 15px 0;
  }

  .schedule-name,
  .schedule-time {
    font-size: 16px;
  }

  .subscribe {
    padding-top: 59px;
    padding-bottom: 41px;
    margin-bottom: 98px;
  }

  .subscribe-title {
    font-size: 26px;
    max-width: 214px;
    margin-bottom: 51px;
  }

  .subscribe-title::before {
    width: 31px;
    height: 31px;
    left: -5px;
    bottom: 46px;
  }

  .subscribe-form {
    flex-direction: column;
    gap: 43px 0;
  }

  .subscribe-input {
    width: 340px;
  }

  .subscribe-btn {
    margin-bottom: 0;
  }

  .about-company {
    margin-bottom: 77px;
  }

  .about-company-description {
    flex-basis: 340px;
  }

  .about-company-title {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .advantages-list {
    gap: 27px 11px;
  }

  .about-company-text,
  .advantages-items-text,
  .advantages-items-title {
    font-size: 16px;
  }

  .footer-navigation {
    padding-top: 50px;
  }

  .footer-nav,
  .footer-email {
    font-size: 12px;
  }

  .footer-nav {
    gap: 0 3.5vw;
  }

  .footer-box {
    margin-top: 0;
    gap: 4.6vw 0;
  }

  .footer-social {
    gap: 0 33px;
  }

  .footer-icons {
    gap: 0 25px;
  }

  .footer-copyright {
    font-size: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .visual-img {
    width: 57vw;
    height: 47vw;
  }

  .schedule-item {
    padding: 20px 11px;
  }
}

@media (max-width: 520px) {
  .bg > .container {
    flex-direction: column;
  }

  .banner {
    flex-basis: 100%;
    padding-bottom: 24.4vw;
  }

  .banner-title {
    padding-right: 0;
  }

  .banner-box {
    max-width: 100%;
  }

  .banner-link {
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  .visual {
    width: 94.4vw;
    height: 60vw;
    right: 0;
  }

  .visual-img {
    width: 94.4vw;
    height: 78vw;
    right: 0;
  }

  .button-down {
    display: none;
  }

  .bg {
    margin-bottom: 35.55vw;
  }

  .event-cards {
    grid-template-rows: 1fr 1.1fr;
    gap: 11px 10px;
  }

  .event-item {
    height: 86.1vw;
  }

  .event-item:nth-child(1) {
    background-image: url(../images/@1x/maraphon-small.png);
    background-image: -webkit-image-set(
      url("../images/@2x/maraphon2x-small.png") 2x,
      url("../images/@1x/maraphon-small.png") 1x
    );
    background-image: image-set(
      url("../images/@2x/maraphon2x-small.png") 2x,
      url("../images/@1x/maraphon-small.png") 1x
    );
  }

  .event-item:nth-child(2) {
    background-image: url(../images/@1x/vebinar1-small.png);
    background-image: -webkit-image-set(
      url("../images/@2x/vebinar1-2xsmall.png") 2x,
      url("../images/@1x/vebinar1-small.png") 1x
    );
    background-image: image-set(
      url("../images/@2x/vebinar1-2xsmall.png") 2x,
      url("../images/@1x/vebinar1-small.png") 1x
    );
  }

  .event-item:nth-child(3) {
    height: 93.35vw;
    background-image: url(../images/@1x/vebinar2-small.png);
    background-image: -webkit-image-set(
      url("../images/@2x/vebinar-2xsmall.png") 2x,
      url("../images/@1x/vebinar2-small.png") 1x
    );
    background-image: image-set(
      url("../images/@2x/vebinar-2xsmall.png") 2x,
      url("../images/@1x/vebinar2-small.png") 1x
    );
  }

  .event-btn,
  .event-item:nth-child(3) .event-btn {
    top: 40vw;
    left: 5vw;
    padding: 4vw 8vw;
    font-size: 2.4vw;
  }

  .event {
    margin-bottom: 22.22vw;
  }

  .schedule-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 114px);
    grid-template-areas:
      "training"
      "mix"
      "sculpt"
      "practices"
      "lab"
      "warm-up";
  }

  .schedule-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    bottom: 11px;
  }

  .about-company-description {
    flex-basis: 100%;
  }

  .about-company-img {
    display: none;
  }

  .about-company-btn {
    width: 100%;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px 0px;
  }

  .footer-navigation {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    justify-content: space-between;
    margin: 0;
  }

  .footer-social {
    justify-content: space-between;
    gap: 0 43.3vw;
  }

  .footer-box {
    margin-top: 41px;
  }

  .footer-copyright {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .header-box {
    gap: 15.8vw;
  }

  .banner-title,
  .banner-title > span,
  .schedule-title,
  .event-title,
  .subscribe-title,
  .about-company-title {
    font-size: 7.22vw;
  }

  .banner-text,
  .banner-link,
  .event-name,
  .schedule-name,
  .schedule-time,
  .subscribe-btn,
  .about-company-btn,
  .about-company-text,
  .advantages-items-title,
  .advantages-items-text {
    font-size: 4.44vw;
  }

  .event-content {
    padding-left: 7.5vw;
  }

  .schedule-date {
    text-align: right;
}

  .subscribe-input {
    max-width: 94.4vw;
    font-size: 5vw;
  }

  .agreement {
    font-size: 3.1vw;
  }

  .footer-social {
    gap: 0 30vw;
  }
}

